.default-primary-color { background: #448B8A; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #4f4f4f; }
.primary-text-color    { color: #212121; }
