<template name="languages">
	<script src='../languages/ar.js'></script>
	<script src='../languages/bs.js'></script>
	<script src='../languages/cs.js'></script>
	<script src='../languages/da.js'></script>
	<script src='../languages/en_ca.js'></script>
	<script src='../languages/en_gb.js'></script>
	<script src='../languages/en_us.js'></script>
	<script src='../languages/et.js'></script>
	<script src='../languages/es.js'></script>
	<script src='../languages/fa.js'></script>
	<script src='../languages/fi.js'></script>
	<script src='../languages/fr.js'></script>
	<script src='../languages/he.js'></script>
	<script src='../languages/hr.js'></script>
	<script src='../languages/hu.js'></script>
	<script src='../languages/id.js'></script>
	<script src='../languages/it.js'></script>
	<script src='../languages/ja.js'></script>
	<script src='../languages/ko.js'></script>
	<script src='../languages/me.js'></script>
	<script src='../languages/nb.js'></script>
	<script src='../languages/nl.js'></script>
	<script src='../languages/pl.js'></script>
	<script src='../languages/pt_br.js'></script>
	<script src='../languages/pt_pt.js'></script>
	<script src='../languages/ro.js'></script>
	<script src='../languages/ru.js'></script>
	<script src='../languages/sr.js'></script>
	<script src='../languages/sv.js'></script>
	<script src='../languages/th.js'></script>
	<script src='../languages/tr.js'></script>
	<script src='../languages/ua.js'></script>
	<script src='../languages/zh_cn.js'></script>
	<script src='../languages/zh_tw.js'></script>
</template>