.category-icon{
    width: 200px;
    height: 200px;
}
.catHeader{
    text-decoration: none;
    color: grey;
}

.row{
    margin-top: 30px;
    margin-bottom: 30px
}

@media (max-width:500px) {
    .row{
        overflow: auto;
    }
    .wrapper{
        width: 425px;
    }
}

