.layout {

}

.footer{
    position: relative;
    background-color: #F8F8F8;
    height: 60px;
    text-align: center;
    border-top: 1px solid #E7E7E7;
    clear: both;
}

template,html, body{
    height: 100%;

}


.container{
    position: relative;
    overflow-y:visible;
    height:93%;

}

.reverseSite{
    direction:rtl;
}