#timeline{
    max-height: 600px;
    overflow-y: visible;
}

@media (max-width:500px) {
    .wrapper{
        width: 350px;
    }
    #timeline{
        width: 425px;
        overflow: hidden;
    }
}