<template name="navigation">
    <!-- Navbar -->

	<nav class="navbar navbar-default custom-navbar" role="navigation">
        <div class="col-lg-12  col-md-12 text-nowrap" style="display: inline-block">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="pull-right">
                        <ul class="nav navbar-nav">
                            <li><a style="white-space: nowrap"  id="language" class="link" name="language" title="Languages" data-toggle="popover" data-placement="bottom" data-content=""><i class="fa fa-language fa-lg" aria-hidden="true"></i></a></li>
                        </ul>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="home" class="link" href="{{pathFor 'home'}}"><i class="fa fa-home" aria-hidden="true">  </i> {{_ "header.Home"}} </a></li>
                        <li><a id="category" class="link" href="{{pathFor 'category'}}"><i class="fa fa-files-o" aria-hidden="true">  </i> {{_ "header.BrowseContent"}}</a></li>
                        {{#if currentUser }}
                        <li><a id="createContent" class="link" href="{{pathFor 'createContent'}}"><i class="fa fa-plus" aria-hidden="true">  </i> {{_ "header.CreateContent"}}</a></li>
                        {{/if}}
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        {{#if currentUser}}
                        <li>
                            <label for="toggle-languages">{{_ "header.toggle_lang"}}</label>
                            {{#if lang_check}}
                                <input type="checkbox" name="toggle-languages" id="toggle_lang" checked/>

                            {{else}}
                                <input type="checkbox" name="toggle-languages" id="toggle_lang" />
                            {{/if}}
                        </li>
                        {{#if isInRole 'admin'}}
                        <li>
                            <a href="{{pathFor 'admin'}}" class="link">
                                <i class="fa fa-cog" aria-hidden="true">  </i>
                                {{_ "header.Admin"}}
                            </a>
                        </li>
                        {{/if}}
                        <li>
                        <a id="profile" class="link" href="{{pathFor 'profile'}}"><i class="fa fa-user" aria-hidden="true">  </i>  {{currentUser.username}}</a></li>
                        <li><a href="{{pathFor 'home'}}" class="logout link"><i class="fa fa-sign-out" aria-hidden="true"> </i>  {{_ "header.LogOut"}}</a></li>
                        {{else}}
                        <li><a id="login" class="link" href="{{pathFor 'login'}}"><i class="fa fa-sign-in" aria-hidden="true"> </i> {{_ "header.Login"}}</a></li>
                        {{/if}}


                    </ul>
                </div>
            </div>
        </div>

    </nav>
</template>

