<template name="navigation">
	<ul class="list-inline">
		<li>Press me</li>
		<li>Press med</li>
		<!-- If user is logged in, show username 
		{{#if currentUser}}
			<span>currentUser</span>
		{{else}}
		TODO: if user is not logged in, link to login 
		{{/if}}-->
		<li>{{_ "hello"}}</li>
        <input type="button" id="language" value="Change language"/>
        {{#if currentUser}}
        	<li><a href="#" id="logout">Logg Ut</a></li>
        {{else}}
        	<li><a href="{{pathFor 'login'}}">Logg Inn</a></li>
        {{/if}}
	</ul>
</template>